<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link href="header.css" rel="stylesheet" type="text/css">

<style type="text/css">
div {
	width: 700px;
	margin: 0 auto;
}
input {
	width: 160px;
}
input.course {
	width: 95%;
}
input.par {
	width: 10%;
	margin-top: 5;
	margin-bottom: 5;
}
input.submit {
	width: 95%;
}
</style>

		<h1>Golf Score Card App</h1>
	</head>
	<body>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


		<div class="headers">
			<a href="/"> Home </a>
			<a href="/addCourse" class="current"> Add Course  </a>
			<a href="/addScorecard"> Add Scorecard  </a>
			<a href="/myStats"> My Stats </a>
		</div>

		<form action="/addCourse" method="POST">

		<div>
			<input type="text" class="course" name="course" id="course" placeholder="Course Name">
		</div>
		<div>
			<input type="text" class="par" name="par1" id="par1">
			<input type="text" class="par" name="par2" id="par2">
			<input type="text" class="par" name="par3" id="par3">
			<input type="text" class="par" name="par4" id="par4">
			<input type="text" class="par" name="par5" id="par5">
			<input type="text" class="par" name="par6" id="par6">
			<input type="text" class="par" name="par7" id="par7">
			<input type="text" class="par" name="par8" id="par8">
			<input type="text" class="par" name="par9" id="par9">
		</div>
		<div>
			<input type="text" class="par" name="par10" id="par10">
			<input type="text" class="par" name="par11" id="par11">
			<input type="text" class="par" name="par12" id="par12">
			<input type="text" class="par" name="par13" id="par13">
			<input type="text" class="par" name="par14" id="par14">
			<input type="text" class="par" name="par15" id="par15">
			<input type="text" class="par" name="par16" id="par16">
			<input type="text" class="par" name="par17" id="par17">
			<input type="text" class="par" name="par18" id="par18">
		</div>

		<div>
			<input type="submit" class="submit" value="Add Course">
		</div>

		</form>
	</body>
</html>